<nav> 
    <div class="navbar">  <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

        <div class="dropdown"> <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <button class="dropbtn">Home &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
          </button>
          <div class="dropdown-content">
               <a href="PatsLife/html/index-1.html">index-1 outlines the intent of a web site</a>   
               <a href="PatsLife/html/index-0.html">index-0 outlines the html and css and site layout. 
               <a href="PatsLife/html/index.html">index.html gives access</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
      
        <div class="dropdown"> <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <button class="dropbtn">Childhood &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sChildhood.html#Preschool">Pre School</a>
            <a href="PatsLife/html/Pat-sChildhood.html#ElementarySchoolYears">Elementary School Years</a>
            <a href="PatsLife/html/Pat-sChildhood.html#HighSchoolYears">High School Years</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">Family &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sFamily.html#Jeff_Clara">Parents, Jeff and Clara</a>
            <a href="PatsLife/html/Pat-sFamily.html#Walt_Pat">Pat and Walt's family</a>
            <a href="PatsLife/html/Pat-sFamily.html#Reunions">Family Reunions</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">Marriage &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sMarriage.html#WeddingPics">Wedding</a>
            <a href="PatsLife/html/Pat-sMarriage.html#Trials">Trials</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">College &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
      <!--[{ useless? }]<i class="fa fa-caret-down"></i>  -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sCollege.html#EMU">Eastern Michigan</a>
            <a href="PatsLife/html/Pat-sCollege.html#ChiCir">Chicago Circle</a>
            <a href="PatsLife/html/Pat-sCollege.html#NTSU">North Texas</a>
            <a href="PatsLife/html/Pat-sCollege.html#UTEP">University of Texas at El Paso</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">Houses &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
      <!--[{ useless? }]<i class="fa fa-caret-down"></i>  -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sHouses.html#WLMI">Whitmore Lake, MI</a>
            <a href="PatsLife/html/Pat-sHouses.html#AuTx1">Austin, TX, Norris Street </a>
            <a href="PatsLife/html/Pat-sHouses.html#KNZ">Karori, New Zealand</a>
            <a href="PatsLife/html/Pat-sHouses.html#POR">Portland, OR</a>
            <a href="PatsLife/html/Pat-sHouses.html#AuTx2">Austin, TX, Side Cove</a>
            <a href="PatsLife/html/Pat-sHouses.html#AuTx3">Austin, TX, Briarcliff</a>
            <a href="PatsLife/html/Pat-sHouses.html#KnTN">Knoxville, TN</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">Work &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
      <!--[{ useless? }]<i class="fa fa-caret-down"></i>  -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sWork.html#HeadStart">Head Start at El Paso</a>
            <a href="PatsLife/html/Pat-sWork.html#UTA">University of Texas at Austin</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
      
        <div class="dropdown">
          <button class="dropbtn">Retirement &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
      <!--[{ useless? }]<i class="fa fa-caret-down"></i>  -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sRetirement.html#Travel">Travel</a>
            <a href="PatsLife/html/Pat-sRetirement.html#Volunteering">Volunteering</a>
          </div>
        </div>
      <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <div class="dropdown">
          <button class="dropbtn">Sickness &#9660;      <!-- 9660 BLACK DOWN-POINTING TRIANGLE -->
      <!--[{ useless? }]<i class="fa fa-caret-down"></i>  -->
          </button>
          <div class="dropdown-content">
            <a href="PatsLife/html/Pat-sSickness.html#Stages">First Stages</a>
            <a href="PatsLife/html/Pat-sSickness.html#Loss">Losses</a>
            <a href="PatsLife/html/Pat-sSickness.html#Incapacitation">Incapacitation</a>
            <a href="PatsLife/html/Pat-sSickness.html#Help">Help</a>
          </div>
        </div>
      </div>
</nav>
