<!doctype html>
<head> 
    <title>Pat's Life v2: {{ page.title }}</title>
   <link rel="shortcut icon" href=".../pics/Patricia.ico">            <!--[make an ico of Pat in profile, smiling, E G pic at Aberdeen PG] -->

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="Memorium">
	<meta name="author" content="Gilbert Bronstad">
	<meta name="changed" content="20230127">                         <!--[{ change date }] -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel =stylesheet type="text/css" href="assets/css/Pat-sLife.css">
	<link rel =stylesheet type="text/css" href="assets/css/w3css.css">
	<link rel="shortcut icon" href="../weblog.ico">  
</head>
<body>
{% include navigation.html %}
{{ content }}
Another version
<div class = "gallery">



{% assign image_level = page.subject %}
This is image level {{ image_level }}
  {% for record in site.data.imagesb %}
    {% if image_level == record.category %}
    <h2>{{ record.category }}</h2>
   <p span="color: red">{{ record.alt }}</p>
   {% endif %}
{% endfor %}


</div>
</body>
</html> 


		  	